body {
    display: flex;  
    flex-flow: column;
    font-size: 14px;
    font-family: "Fira Sans,Helvetica,Arial,sans-serif"; 
    position: relative;
   
}
  Header{
    height:45px;
    background:blue;
    margin:10px 10px;
    justify-content: center;
    align-items: center;
}  

Header button{
    margin:5px 5px;
   } 

 
div#plh{
    display: flex;
   flex-wrap: wrap;
    margin:auto;
    flex-basis: space-between;
   
     
}
.list{
  
    border-radius: 3px;
    box-sizing: border-box;
    max-height: 100%;
    white-space: normal;
    margin-top:10px;
    margin-right:10px;
}

  

.button-link{
    border-radius: 3px;
    font-weight: 700;
    background: #e2e4e6;
    box-shadow: 0 1px 0 0 #c4c9cc;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-top:10px;
    width:280px;
    overflow: hidden;
    text-overflow:ellipsis;
    user-select: none;
    white-space: nowrap;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.button-link a{
    color:#444;
}

div.card{
    background-color:whitesmoke;
}

div.card-header{
    cursor: pointer;
    font: bold;
    font-weight: 800;
}
.modal {
   
    top: 10px;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
   
 }
 


